<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="roll" class="com.spring.eight.AmeerpetTechnologies"> 
		<!--<property name="studentrollnumbers">
			<set>
				<value> 1 </value>
				<value> 2 </value>
				<value> 3 </value>
			</set>
		</property>-->
		<constructor-arg >
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</set>
		</constructor-arg>
	</bean>
</beans>